@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
   --topbg: rgba(220, 210, 216, 0.61);
   --primary: #4F1C3A;
   --border-grey: #969696;
   --border-purple:#B727AD;
   --btn: #9D2190;
   --bckg:rgba(220, 210, 216, 0.08);
}
*{
   margin: 0;
   font-family:IBM Plex Sans;
   box-sizing:border-box; 
   max-width: 100vw;
}
body{
   background-color: #FFF;
   letter-spacing: 0.04em;
   font-size: 24px;
   margin: 0;
   padding: 0;
}
h4{
font-weight: 400;
line-height: 70px;
text-align: center;
/* margin: 9rem auto 4rem; */
}
h6{
   width: 80%;
   font-weight: 700;
   font-size: 40px;
   line-height: 60px;
   letter-spacing: 0.04em;
   color: #262525;
}
h6>span{
   color: #5E1457;
}
hr{
   border: 2px solid rgba(0, 0, 0, 0.1);
   transform: rotate(0deg);
}
p{
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   color: #262525;;
   margin-bottom: 2rem;
}
#top-cont{
   background-color: var(--topbg);
   max-width: 100vw;
   width: 100%;
   padding: 2rem;
   height: max-content;
   justify-items: center;
}
/* ------nav styling------ */
nav{
   display: flex;
   width: 80%;
   margin: 0 auto;
   height: auto;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
   font-size: 20px;
   padding: 1rem 0;
}
.nav-menu{
   display: flex;
   justify-content: space-between;
   gap: 3rem;
   list-style: none;
}
.tplnk{
   display: flex;
   gap: 1rem;
}
.nav-link{
   text-decoration: none;
   color: var(--primary);
}
.zanim{
   color:var(--primary);
   font-family: Fira Sans;
   font-weight: 600;
   line-height: 1;
   font-size: 40px;
}
.za{
   text-decoration: underline;
   font-family: Fira Sans;
}
.nav-btn{
   border: 2px solid var(--border-purple);
   padding: .5rem 1.5rem;
   text-decoration: none;
   border-radius: 10px;
   color:  #262525;
}
.nav-btn:hover{
   background: var(--border-purple);
   color: #fff;
}
.hmb{
   display: none;
   cursor: pointer;
}
/* ------top aside styling------ */
.top-aside{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 80%;
   margin: auto;
   margin-top: 3rem;
   padding: 2rem 0 1rem ;
}
.top-left{
   width: 85%;
}

.top-aside-btn{
   text-decoration: none;
   font-weight: 600;
   width: max-content;
   font-size: 20px;
   line-height: 26px;
   color: #FFFFFF;
   background-color: var(--border-purple);
   padding: 1rem 2.5rem;
   border-radius: 10px;
}
.top-aside-btn:hover{
   background-color: inherit;
   color: #262525;
   border: 2px solid var(--border-purple);
}
.top-right{
   width: 80%;
   justify-self: end;
   align-self: flex-end;
}
.top-right>img{
   width: 100%;
}
/* --------Mid Container-------- */
#calender{
   background-color: #FFFFFF;
   height: max-content;
   margin: 0;
   width: 100%;
   padding: 2rem;
}
.mid-cont{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 3rem;
   width: 80%;
   align-items: center;
   justify-content: center;
   margin:auto ;
   padding: 2rem 0;
}
.mid-cont>img{
  width: 80%;
}
.mid-cal>img{
   float: right;
   margin-top: 6rem;
   justify-self: f
}
.body-btn{
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      width: max-content;
      line-height: 26px;
      color: #171616;;
      background-color: #fff;
      padding: 1.3rem 4rem;
      border: 2px solid var(--border-purple);
      border-radius: 10px;
   }
.body-btn:hover{
   background-color: var(--border-purple);
   color: #fff;
}
.anl{
   margin-left: 5rem;
}
/* -------subscription styling-------- */

#subscriptiom{
   margin: 0;
   width: 100%;
   background: var(--bckg);
   height: max-content;
   padding: 2rem;
}
.subchild{
   display: grid;
   grid-gap: 1rem;
   width: 80%;
   height: max-content;
   margin: auto;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(3,1fr);
   grid-template-areas: 
      'text text text'
      'box1 box2 box3'
      'h4 h4 h4';
}
.h4{
   grid-area: h4;
}
h3{
   font-weight: 500;
   font-size: 36px;
   line-height: 70px;
   color: #262525;
   text-align: center;
   margin-top: 3rem;
}
.text{
   grid-area: text;
}
.box1{
   grid-area: box1;
}
.box2{
   display: flex;
   flex-direction: column;
   grid-area: box2;
   height: 450px;
   border:2px dashed;
   align-self: center;
}
.box3{
   grid-area: box3;
}
.color{
   background: #F9C6E4;
   border-radius: 10px;
   margin-bottom: 53m;
   padding: 2rem;
}
.height{
   height: max-content;
}
.bxtxt{
   display: flex;
   flex-direction: column;
   width: 241px;
   height: inherit;
   align-content: center;
   justify-content: center;
   margin: 0 auto;
}
.bxtxt>p{
   line-height: 30px;
   color: #171616;
}
.bxtxt>h5{
   font-weight: 500;
   line-height: 31px;  
   color: #000000;
   margin: 1rem 0;
}
.sbtn{
   font-weight: 600;
   font-size: 20px;
   line-height: 26px;
   color: #171616;;
   background-color: inherit;
   border: 2px solid #BC27AD;
   border-radius: 10px;
   width: 100%;
   text-align: center;
   display:block;
   text-decoration: none;
   padding: 1rem 1.5rem;
}
.sbtn:hover{
   background-color: #BC27AD;
   color: #FFF;
}
.msbtn{
   background: #BC27AD;
   color: #fff;
}
.msbtn:hover{
   background-color: inherit;
   color: inherit;
}
.h4>h4>a{
   text-decoration: none;
   color: #904B74;
}
/* --------newsletter styling------ */
#newsletter{
   background: #F6F6F6;
   margin: 0;
   padding: 2rem;
   width: 100%;
   height: max-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.nlcont{
   padding: 3rem auto;
   margin: 3rem auto;
   width: 80%;
   margin: auto;
   text-align: center;
} 
.subtxt{
   font-weight: 500;
   font-size: 32px;
   line-height: 70px;
}
form{
   margin: auto;
}
.nlcont>form>input{
   padding: 1rem;
   margin: 1rem auto;
   border-radius: 10px;
   font-size: 20px;
}
.nlcont>form>input{
   content: icon;
}
.email{
   width: max-content;
   border: 2px solid var(--border-grey);
}
.submit{
   width: max-content;
   background:  #9D2190;
   border: 2px solid #9D2190;
   color: #fff;
}
/* -------- footer styling-------- */
footer{
   margin: 0;
   width: 100%;
   height: max-content;
   background-color: #4F1C3A;
   padding: 3rem;
}
.footercont{
   width: 80%;
   margin: auto;
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
}
.social{
   display: grid;
   grid-template-rows: repeat(3,1fr);
   align-self: flex-start;
   height: inherit;
}
.icons{
   display: grid;
   width: 50%;
   grid-template-columns: repeat(4, auto);
   grid-gap: 1.5rem;
   margin-top: 1rem;
}
.white-z{
   font-family: Fira Sans;
   color: #fff;
   font-weight: 600;
   font-size: 40px;
}
.copy{
   margin: 0;
   display: flex;
   height: auto;
   justify-content: flex-start;
   align-items: flex-end;
  
}
.copy>p{
   color: #fff;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 0;
}
.extras{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.items{
   display: grid;
   grid-template-columns: 1fr;
   justify-content: flex-start;
   align-items:flex-end;
}

.items>p{
   color: #fff;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 0;
}
#pp{
   font-weight: 500;
   font-size: 20px;
}
.ftimg{
   align-self: flex-end;
   justify-self: flex-end;
}
.ftimg>a{
   font-weight: 400;
   font-size: 16px;
   color: #FFFFFF;
   text-decoration: none;
}
.tpasbt{
   width: 85%;
   height: inherit;
   padding: 1rem 0;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: flex-end;
}
.dsds{
   width: max-content;
   margin: 0;
   grid-column: 3;
   display: flex;
   justify-self: flex-end;
   background: #9D2190;
}
/* ----------MEDIA QUERIES----------   */
@media(min-width:1441px){
   .wdth{
      width: 60%;
   }
   nav{
      padding-top: 3rem;
   }
   .tpasbt{
      width: 70%;
   }
}
@media(max-width:900px){
   .tplnk{
      flex-direction: column;
      gap: 1rem;
   }
   .nav-menu{
      pointer-events: none;
      max-width: 62%;
      position: absolute;
      right: -100%;
      opacity: 0;
      top: 100px;
      width: 100%;
      flex-direction: column;
      transition: 2s ease-in-out;
      background-color: #5E1457;
      gap: 1rem;
      padding: 1rem;
   }
   .active{
      opacity: 1;
      right: 13vw;
      pointer-events: all;
      transition: 1s ease-in-out;
   }

   
   .nav-item{
      padding: .5rem 2rem;
      text-align: left;
   }
   .nav-link{
      transition: 0,7s ease;
      color: #fff;
   }
   .nav-item:hover{
      background-color: #b0789a;
   }
   .nav-link>i{
      display: none;
   }
   /* ------Dropdown styling------ */
   .hmb {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 60px;
      height: 60px;
      cursor: pointer;
      transition: all .5s ease-in-out;
    }
    .burger {
      width: 40px;
      height: 5px;
      border-radius: 5px;
      transition: all .5s ease-in-out;
      background: var(--primary);
    }
    .burger::before,
    .burger::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 5px;
      background:var(--primary);
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
    .burger::before {
      transform: translateY(-12px);
    }
    .burger::after {
      transform: translateY(12px);
    }
    /* ANIMATION */
    .hmb.open .burger {
      transform: translateX(-50px);
      background: transparent;
    }
    .hmb.open .burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    .hmb.open .burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
    /* ------ending dropdown------ */
   .wdth{
      width: 95%;
      padding: 1rem 2rem;
   }
   .top-aside{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 6rem;
      padding: 2rem;
   }
   .top-left{
      height: max-content;
   }
   .top-right{
      align-self: center;
      margin: auto;
   }
   .top-right>img{
      width: 100%;
   }
   .mid-cont{
      display: flex;
      flex-direction: column;
      margin:auto;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding: 3rem auto;
   }
   .mid-cont>img{
      margin: 3rem auto;
   }
   .mid-cal{
      width: 80%;
   }
   hr{
      margin: 3rem;
   }
   .mid-anal{
      width: 80%;
      justify-content: center;
      align-items: center;
   }
   .text{
      width: 80%;
      margin: 0 auto;
   }
   .subchild{
      display: flex;
      width: 80%;
      flex-direction: column;
      grid-gap: 1rem;
      margin: auto;
      align-items: center;
      justify-content: center;
   }
   .color{
      width: max-content;
      gap: 1rem;
      padding: 2rem;
   }
   .nlcont>form{
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   .email{
      width: 80%;
   }
   .submit{
      width: max-content;
   }
   .extras{
      display: none;
   }
   .ftimg{
      display: none;
   }
   footer{
      padding: 1rem;
      display: block;
   }
   .footercont{
      width: 90%;
      display: flex;
      height: auto;
      justify-content: center;
      align-self: center;
   }
   .social{
      width: 100%;
      display: grid;
      height: auto;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      grid-gap: 0;
   }
   .white-z{
      display: none;
   }
   .copy{
   justify-self: center;
   }
}
@media(max-width:500px){
   .email{
      width: 90%;
   }
   .wdth{
      width: 100%;
      padding: .5rem;
   }
   .top-right>img{
      width: 100%;
   }
   .mid-cal{
      width: 100%;
   }
   .mid-anal{
      width: 100%;
   }
   .text{
      width: 100%;
   }
   .subchild{
      width: 100%;
   }
   .email{
      width: 100%;
   }
   .footercont{
      width: 100%;
   }
   .social{
      width: 100%;
   }

}
