@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
   --topbg: rgba(220, 210, 216, 0.61);
   --primary: #4F1C3A;
   --border-grey: #969696;
   --border-purple:#B727AD;
   --btn: #9D2190;
   --bckg:rgba(220, 210, 216, 0.08);
}
*{
   margin: 0;
   font-family:IBM Plex Sans;
   box-sizing:border-box; 
   
}
body{
   background-color: #FFF;
   letter-spacing: 0.04em;
   font-size: 24px;
   margin: 0;
}
h4{
font-weight: 400;
line-height: 70px;
text-align: center;
/* margin: 9rem auto 4rem; */
}
h6{
   width: 80%;
   font-weight: 700;
   font-size: 40px;
   line-height: 60px;
   letter-spacing: 0.04em;
   color: #262525;
}
h6>span{
   color: #5E1457;
}
hr{
   border: 2px solid rgba(0, 0, 0, 0.1);
   transform: rotate(0deg);
}
p{
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   color: #262525;;
   margin-bottom: 2rem;
}
#top-cont{
   background-color: var(--topbg);
   width: 100%;
   padding: 2rem auto 4rem;
   height: 900px;
   justify-items: center;
}
/* ------nav styling------ */
nav{
   display: flex;
   width: 80%;
   margin: auto;
   height: auto;
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   font-weight: 600;
   font-size: 20px;
   padding: 2rem 0;
}
.nav-link{
   text-decoration: none;
   color: var(--primary);
   d
}
.zanim{
   color: var(--primary);
   font-family: Fira Sans;
   font-weight: 600;
   line-height: 1;
   font-size: 40px;
}
.za{
   text-decoration: underline;
   font-family: Fira Sans;
}
ul{
   display: grid;
   grid-template-columns: repeat(4,auto);
   grid-gap: 4rem;
   list-style: none;
}
.nav-btn{
   border: 2px solid var(--border-purple);
   padding: .5rem 1.5rem;
   text-decoration: none;
   border-radius: 10px;
   color:  #262525;
}
.nav-btn:hover{
   background: var(--border-purple);
   color: #fff;
}
/* ------top aside styling------ */
.top-aside{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 80%;
   margin: auto;
   margin-top: 3rem;
   padding: 2rem 0 1rem ;
}
.top-left{
   width: 85%;
}

.top-aside-btn{
   text-decoration: none;
   font-weight: 600;
   font-size: 20px;
   line-height: 26px;
   color: #FFFFFF;
   background-color: var(--border-purple);
   padding: 1rem 2.5rem;
   border-radius: 10px;
}
.top-aside-btn:hover{
   background-color: inherit;
   color: #262525;
   border: 2px solid var(--border-purple);
}
.top-right{
   justify-self: end;
   align-self: flex-end;
}
/* --------Mid Container-------- */
#calender{
   background-color: #FFFFFF;
   margin: 0;
   width: 100%;
}
.mid-cont{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 3rem;
   width: 80%;
   height: 700px;
   align-items: center;
   justify-content: center;
   margin:auto ;
   padding: 2rem 0;
}
.mid-cont>img{
  width: 80%;
}
.mid-cal>img{
   float: right;
   margin-top: 6rem;
   justify-self: f
}
.body-btn{
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #171616;;
      background-color: #fff;
      padding: 1.3rem 4rem;
      border: 2px solid var(--border-purple);
      border-radius: 10px;
      /* margin-top: 4rem; */
   }
.body-btn:hover{
   background-color: var(--border-purple);
   color: #fff;
}
.anl{
   margin-left: 5rem;
}
/* -------subscription styling-------- */

#subscriptiom{
   margin: 0;
   width: 100%;
   background: var(--bckg);
   height: 860px;
}
.subchild{
   display: grid;
   grid-gap: 1rem;
   width: 80%;
   height: 600px;
   margin: auto;
   align-items: center;
   justify-content: center;
   grid-template-columns: repeat(3,1fr);
   grid-template-areas: 
      'text text text'
      'box1 box2 box3'
      'h4 h4 h4';
}
.h4{
   grid-area: h4;
}
h3{
   font-weight: 500;
   font-size: 36px;
   line-height: 70px;
   color: #262525;
   text-align: center;
   margin-top: 3rem;
}
.text{
   grid-area: text;
}
.box1{
   grid-area: box1;
}
.box2{
   grid-area: box2;
   height: 497px;
   border:2px dashed;
}
.box3{
   grid-area: box3;
}
.color{
   background: #F9C6E4;
   border-radius: 10px;
   margin-bottom: 53m;
   padding: 0 1rem;
}
.height{
   height: 448px;
}
.bxtxt{
   display: flex;
   flex-direction: column;
   width: 241px;
   height: inherit;
   align-content: center;
   justify-content: center;
   margin: 0 auto;
}
.bxtxt>p{
   line-height: 30px;
   color: #171616;
}
.bxtxt>h5{
   font-weight: 500;
   line-height: 31px;  
   color: #000000;
   margin: 1rem 0;
}
.sbtn{
   font-weight: 600;
   font-size: 20px;
   line-height: 26px;
   color: #171616;;
   background-color: inherit;
   border: 2px solid #BC27AD;
   border-radius: 10px;
   width: 100%;
   text-align: center;
   display:block;
   text-decoration: none;
   padding: 1rem 1.5rem;
}
.sbtn:hover{
   background-color: #BC27AD;
   color: #FFF;
}
.msbtn{
   background: #BC27AD;
   color: #fff;
}
.msbtn:hover{
   background-color: inherit;
   color: inherit;
}
.h4>h4>a{
   text-decoration: none;
   color: #904B74;
}
/* --------newsletter styling------ */
#newsletter{
   background: #F6F6F6;
   margin: 0;
   width: 100%;
   height: 350PX;
   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   justify-content: center;
  
}
.nlcont{
  width: 80%;
  margin: auto;
  text-align: center;
} 
.subtxt{
   font-weight: 500;
   font-size: 32px;
   line-height: 70px;
   margin: 0 auto 2rem;
}
form{
   margin: auto;
}
input{
   padding: 1rem;
   margin: auto;
   border-radius: 10px;
   border: 2px solid ;
   font-size: 20px;
   margin-bottom: 3em;
}
.email{
   width: 45%;
   border-color:var(--border-grey);
}
.submit{
   width: 30%;
   background:  #9D2190;
   border-color: #9D2190;;
   color: #fff;
}
/* -------- footer styling-------- */
footer{
   margin: 0;
   width: 100%;
   height: 250px;
   background-color: #4F1C3A;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   padding: 3rem;
}
.footercont{
   width: 80%;
   margin: auto;
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
}
.social{
   display: grid;
   grid-template-rows: repeat(3,1fr);
   align-self: flex-start;
   height: inherit;
}
.icons{
   display: grid;
   width: 50%;
   grid-template-columns: repeat(4, auto);
   grid-gap: 1.5rem;
   margin-top: 1rem;
}
.white-z{
   font-family: Fira Sans;
   color: #fff;
   font-weight: 600;
   font-size: 40px;
}
.copy{
   margin: 0;
   display: flex;
   height: auto;
   justify-content: flex-start;
   align-items: flex-end;
  
}
.copy>p{
   color: #fff;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 0;
}
.extras{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.items{
   display: grid;
   grid-template-columns: 1fr;
   justify-content: flex-start;
   align-items:flex-end;
}

.items>p{
   color: #fff;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 0;
}
#pp{
   font-weight: 500;
   font-size: 20px;
}
.ftimg{
   align-self: flex-end;
   justify-self: flex-end;
}
.ftimg>a{
   font-weight: 400;
   font-size: 16px;
   color: #FFFFFF;
   text-decoration: none;
}
@media(min-width:1440px){
   .wdth{
      width: 60%;
   }
}